.game {
    border-spacing: 0;
    border: 3px solid black;
    table-layout: fixed;
    margin: auto;
}

.live {
    background-color: green;
}

.dead {
    background-color: red;

}

.slider-wrapper {
    display: inline-table;
    width: 150px;
    height: 20px;
    padding: 0;
}