.game {
    border-spacing: 0px;
    border: 3px solid gray;
    table-layout: fixed;
    margin: auto;
}

.live {
    background-color: black;
    border: 1px solid white;
}

.dead {
    background-color: white;
}

.slider-wrapper {
    display: inline-table;
    width: 150px;
    height: 20px;
    padding: 0;
}